# App
BASE_URL=https://your-app-url.com

# QASphere
QAS_TOKEN=your_qasphere_api_token
QAS_URL=https://qas.eu1.qasphere.com
QAS_PROJECT_CODE=QS

# Test credentials
VALID_USERNAME=your_username
VALID_PASSWORD=your_password
VALID_DISPLAY_NAME=your_display_name
